<div class="header-row">
    <div id="header-logo">
        <img src="/common/images/logo-icon-white.png" alt="logo image here">
    </div>

    <div class="header-icons grayscale">
        <a href="https://www.facebook.com"><img class="header-icon" src="/common/images/facebook-icon.png"></a>
        <a href="https://www.instagram.com"><img class="header-icon" src="/common/images/instagram-icon.png"></a>
        <a href="https://www.twitter.com"><img class="header-icon" src="/common/images/twitter-icon.png"></a>
        <a href="https://www.tiktok.com"><img class="header-icon" src="/common/images/tiktok-icon.png"></a>
    </div>

    <div class="header-menu">
        <p><a href="main.html">Home</a></p>
        <p><a href="about_us.html">About Us</a></p>
        <p><a href="restaurants.html">Restaurants</a></p>
        <p><a href="login.html">Log In</a></p>
    </div>
</div>