<div class="main-parent">
    {{> header}}

    <div class="main-content">
        <div class="homepage-img">
            <img src="/common/images/background-image.png" alt="background image here">

            <div class="homepage-searchbar">
                <input type="text" placeholder="Search Restaurants" id="searchbar">
                <button id="find">
                    <img src="/common/images/find-icon.png" alt="search icon here">
                </button>
            </div>
        </div>
    </div>
    
    {{> footer}}
</div>