<div class="register-backdrop">
    <div class="registration-container">
        <div class="header">
            <img src="/common/images/logo-icon-white.png" alt="Logo"> 
            <h2>Register Restaurant</h2>
        </div>
        
        <form action="/registerRestaurant" method="post">
            <div class="registration-form">
            <!-- Right Column Inputs -->
            <div class="form-column">
                <div class="form-control">
                <label for="resto-name">RESTAURANT NAME</label>
                <input type="text" id="resto-name" name="res_name" required>
                </div>
                
                <div class="form-control">
                <label for="desc">DESCRIPTION</label>
                <textarea id="desc" name="res_description" required></textarea>
                </div>
            </div>

            <!-- Left Column Inputs -->
            <div class="form-column">
                <div class="form-control">
                <label for="street">STREET</label>
                <input type="text" id="street" name="res_street" placeholder="Street Address" required>
                </div>
                
                <div class="form-control">
                <label for="city">CITY</label>
                <input type="text" id="city" name="res_city" placeholder="City" required>
                </div>
                
                <div class="form-control">
                <label for="province">PROVINCE</label>
                <input type="text" id="province" name="res_province" placeholder="Province" required>
                </div>
                
                <div class="form-control">
                <label for="logo">LOGO</label>
                <input type="file" id="logo" name="res_logo">
                </div>
            </div>
            </div>
            
            <div class="checker">
            <input type="checkbox" id="terms" name="terms" required>
            <label for="terms">I agree to the Terms and Service</label>
            </div>
            
            <div class="error">
                {{#if error}}
                {{error}}
                {{/if}}
            </div>
            
            <button type="submit" class="register-btn">REGISTER</button>
        </form>

        <div class="update-footer">
            <p>Don't wanna register your restaurant yet?
                <form action="/gotoProfile" method="post">
                    <button type="submit">Go back to profile</button>
                </form>
            </p>
        </div>
    </div>
</div>