  @keyframes shiftUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .logo {
    height: 200px;
    margin-bottom: -40px;
  }

  body {
    font-family: arapey;
    background: url("../images/resto-background-image.png") no-repeat center center fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
  	background-color: rgba(0, 0, 0, 1);
    border: 2px solid white;
    width: 300px;
    padding: 20px;
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.5);
    animation: shiftUp 0.5s ease-out forwards;
    border-radius: 20px;
    background: linear-gradient(to bottom, black 100%, rgb(150, 150, 150, 0.5) 50%);
  }
  
  .login-header {
    color: #ffffff;
    padding: 10px;
    text-align: center;
    margin-bottom: 5px;
  }
  .login-backdrop {
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
  }

  .form-group {
  	font-size: 14px;
    justify-content: center;
  	color: #ffffff;
    margin-bottom: 15px;
  }
  
  .form-checker-text{
  	font-size: 12px;
  	align-items: center;
    justify-content: center;
  	color: #ffffff;
    margin-bottom: 15px;
  }

  .label {
    display: block;
    margin-bottom: 5px;
  }

  .input-text,
  .input-password {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }

  .back-button {
    position: absolute;
    top: 20px; 
    left: 20px; 
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .back-button img {
    width: 40px;
    height: 50px; 
  }
  
  .input-icon {
    position: absolute;
    width: 20px;
    height: 20px; 
    right: 8%;
    margin-top: 8px;
  }

  .input-submit {
  	font-family: 'arapey', sans-serif;
    font-size: 12px; 
  	display: block;
  	margin: 20px auto; 
    width: 30%;
    padding: 10px;
    border: none;
    background: #ffff;
    cursor: pointer;
    border-radius: 20px;
  }

  .input-submit:hover {
    background: #444;
  }

  .login-footer {
    font-size: 12px;
    color: #ffffff;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 10px;
}

  .error {
  	font-size: 11px;
    color: red;
    text-align: center;
  }